
.main-content {
    margin: 0;
    flex-grow: 1;
    padding: 20px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.order-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.package-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.package-info {
    flex-grow: 1;
}

.package-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.package-info p {
    margin: 5px 0;
    color: #888;
}

.rating {
    display: flex;
    align-items: center;
}

.rating span {
    margin-right: 10px;
}

.vendor-info {
    text-align: right;
    font-weight: bold;
}

.order-details {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.order-item {
    margin-bottom: 20px;
}

.order-item .label {
    display: block;
    font-weight: bold;
}

.order-item .value {
    display: block;
    color: #555;
}

.order-item .value a {
    color: #007bff;
    text-decoration: none;
}

.order-item .value.bank {
    text-align: right;
    font-weight: bold;
}

.order-item .value select,
.order-item .value.datetime,
.order-item .value input {
    width: 100%;
    padding: 12px; /* Ubah padding untuk ukuran yang lebih besar */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background-color: #fff;
    box-sizing: border-box; /* Pastikan padding dihitung dalam total width */
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.order-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #365B80;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
}

.order-button:hover {
    background-color: #0056b3;
}
